In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.options.mode.chained_assignment = None

In [6]:
file = '/Users/lmp/Documents/Programming/CNAM/SIG/Fracture_numerique/Data/mci/Agregation_MCI_par_Commune_commune-techno-beta.csv'

In [7]:
mci_communes = pd.read_csv(file, delimiter=";", skiprows=1)

In [8]:
mci_communes = mci_communes.convert_dtypes()

In [9]:
mci_communes_ARA = mci_communes[mci_communes["code_reg"]==84]

In [10]:
clean = mci_communes_ARA.groupby('code_insee')['date'].agg(lambda x: x.sort_values().take([-1]))

In [12]:
len(clean)

4092

In [13]:
mci_communes_ARA = pd.merge(mci_communes_ARA, clean, how='inner', on=['code_insee', 'date'])

In [15]:
mci_communes_ARA.sort_values(by='nom_com')

,code_insee,nom_com,code_dep,code_reg,nbr,type,log_cu,log_coax,log_ftth,log_4gf,log_thdr,log_hdr,log_sat,date
1056,74001,Abondance,74,84,2141,logloc,2120,0,0,2106,0,0,2141,2020-03-31
3542,42001,Aboën,42,84,300,logloc,300,0,298,300,0,0,300,2020-03-31
1692,03001,Abrest,03,84,1661,logloc,1661,0,952,1659,0,0,1661,2020-03-31
2277,07001,Accons,07,84,272,logloc,272,0,0,241,0,0,272,2020-03-31
388,69001,Affoux,69,84,209,logloc,209,0,0,197,0,0,209,2020-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,01154,Étrez,01,84,206,logloc,175,0,0,190,0,0,206,2019-09-30
3199,03112,Étroussat,03,84,401,logloc,401,0,0,401,0,0,401,2020-03-31
3195,69083,Éveux,69,84,544,logloc,544,231,386,445,0,0,544,2020-03-31
721,74119,Évian-les-Bains,74,84,7147,logloc,7146,0,798,7134,0,0,7144,2020-03-31
2544,01155,Évosges,01,84,129,logloc,0,0,125,0,0,0,129,2020-03-31

## Richesse de l'offre : nombre de MCI par commune

In [16]:
mcis = ['log_cu', 'log_coax', 'log_ftth', 'log_4gf', 'log_thdr', 'log_hdr', 'log_sat']

In [17]:
mci_communes_ARA['nbr_mci'] = 0

In [18]:
for index, row in mci_communes_ARA.iterrows():
    for mci in mcis :
        if row[mci] > 0 :
            mci_communes_ARA.loc[index, 'nbr_mci'] += 1

## Taux d'accessibilité par offre par commune

In [19]:
mci_communes_ARA['taux_log_cu'] = 0
mci_communes_ARA['taux_log_coax'] = 0
mci_communes_ARA['taux_log_ftth'] = 0
mci_communes_ARA['taux_log_4gf'] = 0
mci_communes_ARA['taux_log_thdr'] = 0
mci_communes_ARA['taux_log_hdr'] = 0
mci_communes_ARA['taux_log_sat'] = 0

In [20]:
for index, row in mci_communes_ARA.iterrows():
    for mci in mcis :
        mci_communes_ARA.loc[index, f'taux_{mci}'] = mci_communes_ARA.loc[index, mci] / mci_communes_ARA.loc[index, 'nbr']

<ipython-input-20-f947019a4c9b>:3: RuntimeWarning: invalid value encountered in long_scalars
  mci_communes_ARA.loc[index, f'taux_{mci}'] = mci_communes_ARA.loc[index, mci] / mci_communes_ARA.loc[index, 'nbr']

In [21]:
mci_communes_ARA.groupby('code_insee').count()

,nom_com,code_dep,code_reg,nbr,type,log_cu,log_coax,log_ftth,log_4gf,log_thdr,...,log_sat,date,nbr_mci,taux_log_cu,taux_log_coax,taux_log_ftth,taux_log_4gf,taux_log_thdr,taux_log_hdr,taux_log_sat
code_insee,,,,,,,,,,,,,,,,,,,,,
01001,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
01002,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
01004,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
01005,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
01006,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74311,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
74312,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
74313,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
74314,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
74315,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

## Taux d'accessibilité global par commune

In [22]:
for index, row in mci_communes_ARA.iterrows():
    column_true = []
    for mci in mcis :
        if mci_communes_ARA.loc[index, f'taux_{mci}'] > 0 :
            column_true.append(f'taux_{mci}')
            mci_communes_ARA.loc[index, 'taux_global'] = mci_communes_ARA.loc[index, column_true].mean()

In [23]:
mci_communes_ARA.to_csv('mci_communes_ARA.csv')

## Données MCI pour l'Isère

In [25]:
mci_communes_Isere = mci_communes_ARA[mci_communes_ARA['code_dep']=='38']

In [29]:
mci_communes_Isere.to_csv('mci_communes_Isere.csv')

In [28]:
mci_communes_Isere.sort_values(by='nom_com')

,code_insee,nom_com,code_dep,code_reg,nbr,type,log_cu,log_coax,log_ftth,log_4gf,...,date,nbr_mci,taux_log_cu,taux_log_coax,taux_log_ftth,taux_log_4gf,taux_log_thdr,taux_log_hdr,taux_log_sat,taux_global
3152,38003,Agnin,38,84,843,logloc,824,0,0,777,...,2020-03-31,3,0.977461,0.000000,0.000000,0.921708,0.0,0.0,1.0,0.966390
2126,38005,Allemond,38,84,1128,logloc,1128,0,919,1041,...,2020-03-31,4,1.000000,0.000000,0.814716,0.922872,0.0,0.0,1.0,0.934397
3700,38006,Allevard,38,84,3381,logloc,3381,0,2073,2037,...,2020-03-31,4,1.000000,0.000000,0.613132,0.602484,0.0,0.0,1.0,0.803904
1800,38008,Ambel,38,84,35,logloc,35,0,1,35,...,2020-03-31,4,1.000000,0.000000,0.028571,1.000000,0.0,0.0,1.0,0.757143
1221,38009,Anjou,38,84,557,logloc,557,0,0,556,...,2020-03-31,3,1.000000,0.000000,0.000000,0.998205,0.0,0.0,1.0,0.999402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,38565,Voreppe,38,84,4571,logloc,4571,0,0,1325,...,2020-03-31,3,1.000000,0.000000,0.000000,0.289871,0.0,0.0,1.0,0.763290
2136,38566,Vourey,38,84,770,logloc,769,0,0,39,...,2020-03-31,3,0.998701,0.000000,0.000000,0.050649,0.0,0.0,1.0,0.683117
3668,38532,Vénérieu,38,84,354,logloc,354,0,183,354,...,2020-03-31,4,1.000000,0.000000,0.516949,1.000000,0.0,0.0,1.0,0.879237
46,38543,Vézeronce-Curtin,38,84,1105,logloc,1105,0,0,982,...,2020-03-31,3,1.000000,0.000000,0.000000,0.888688,0.0,0.0,1.0,0.962896
309,38151,Échirolles,38,84,20633,logloc,19816,14685,15128,1,...,2020-03-31,5,0.960403,0.711724,0.733194,0.000048,0.0,0.0,1.0,0.681074